@charset "UTF-8";

*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

/* Capa com imagens de fundo */
.capa{
  position:relative;
  width:100%;
  height:100vh;
  overflow:hidden;
}

.capa img{
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  object-fit:cover;
}

.img-cell{display:none}

/* Títulos */
.capa h1,.capa h2{
  position:absolute;
  width:100%;
  text-align:center;
  color:#fff;
  text-shadow:0 0 10px #000;
}

.capa h1{
  top:45%;
  font-size:3rem;
}

.capa h2{
  top: 55%;
  font-size:1.3rem;
}

/* Letra vermelha com posição relativa */
.cred {
  position: relative;
  color: rgb(252, 97, 97);
}

/* Barra que sobe do "b" até o topo da tela */
.barra-top {
  position: absolute;
  width: 4px;
  background-color: rgb(252, 97, 97);
  top: -100vh; /* do topo da tela até a letra */
  left: 50%;
  transform: translateX(-50%);
  height: 100vh;
}

/* Barra que desce da "a" até o final da tela */
.barra-bottom {
  position: absolute;
  width: 4px;
  background-color: rgb(252, 97, 97);
  top: 100%; /* ponta da letra */
  left: 50%;
  transform: translateX(-50%);
  height: calc(100vh - 100%); /* do fim da letra até o fim da tela */
}

/* Responsividade */
@media(max-width:768px){
  .img-pc{display:none}
  .img-cell{display:block}
  .capa h1{font-size:2rem; top:42%}
  .capa h2{font-size:1rem; top:54%}
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: rgb(252, 97, 97);
  color: #fff;
  text-decoration: none;
  font-size: 1.2rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translateX(-50%);
}
