.desktop {
  background-color: #000000;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  min-height: 2000px;
  position: relative;
  overflow-x: hidden;
  color: #ffffff;
}

.desktop .rectangle {
  position: absolute;
  top: 259px;
  left: 9px;
  width: 91px;
  height: 88px;
  background-color: #222222;
}

.desktop .baratie {
  position: absolute;
  top: 259px;
  left: 117px;
  font-size: 35px;
  color: #ffffff;
}

.desktop .image {
  top: 259px;
  left: 11px;
  width: 99px;
  height: 88px;
  position: absolute;
}

.desktop .text-wrapper {
  position: absolute;
  top: 383px;
  left: 586px;
  font-size: 20px;
  color: #ffffff;
}

.desktop .div {
  position: absolute;
  top: 418px;
  left: 595px;
  font-size: 20px;
  color: #32cd32;
}

.desktop .p {
  position: absolute;
  top: 319px;
  left: 123px;
  font-size: 20px;
  color: #ffffff;
}

.desktop .text-wrapper-2 {
  position: absolute;
  top: 399px;
  left: 280px;
  font-size: 20px;
  color: #32cd32;
}

.desktop .img {
  position: absolute;
  top: 1px;
  left: 0;
  width: 1440px;
  height: 248px;
  object-fit: cover;
}

.desktop .text-wrapper-3 {
  position: absolute;
  top: 384px;
  left: 864px;
  font-size: 20px;
  color: #ffffff;
}

.desktop .element {
  position: absolute;
  top: 423px;
  left: 927px;
  font-size: 20px;
  color: #32cd32;
}

.desktop .image-2 {
  top: 512px;
  left: 438px;
  width: 522px;
  height: 348px;
  position: absolute;
  object-fit: cover;
}

.mais-pedidos-container1 {
  margin-top: 900px;
  padding: 20px;
  color: #ffffff;
}

.mais-pedidos-container {
  margin-top: 100px;
  padding: 20px;
  color: #ffffff;
}

#h21 {
  margin-bottom: 40px;
  font-size: 32px;
  text-align: center;
}

.mais-pedidos-container h2 {
  font-size: 32px;
  text-align: center;
  margin-bottom: 40px;
  color: #ffffff;
}

.card-linha {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #111111;
  border-radius: 12px;
  padding: 20px;
  margin-bottom: 25px;
  box-shadow: 0 4px 10px #ffffff10;
  transition: transform .20s ease, box-shadow .20s ease;
  color: #ffffff;
}

.card-linha:hover {
  transform: translateY(-6px);
  box-shadow: 0 10px 25px #ffffff30;
}

.card-linha .info {
  width: 70%;
  color: #ffffff;
}

.card-linha h3 {
  font-size: 24px;
  margin-bottom: 10px;
  color: #ffffff;
}

.card-linha p {
  font-size: 16px;
  margin-bottom: 10px;
  color: #cccccc;
}

.card-linha .price {
  font-size: 20px;
  font-weight: bold;
  color: #32cd32;
}

.card-linha img {
  width: 130px;
  height: 130px;
  object-fit: cover;
  border-radius: 12px;
}

.fim {
  display: flex;
  align-items: center;
  justify-content: center;
}