.desktop {
  background-color: #ffffff;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  min-height: 2000px;
  position: relative;
  overflow-x: hidden;
}


.desktop .rectangle {
  position: absolute;
  top: 259px;
  left: 9px;
  width: 91px;
  height: 88px;
  background-color: #d9d9d9;
}

.desktop .baratie {
  position: absolute;
  top: 259px;
  left: 117px;
  width: 175px;
  text-shadow: 0px 4px 4px 4px #00000040;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 35px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .image {
  top: 259px;
  left: 11px;
  width: 99px;
  height: 88px;
  aspect-ratio: 1.13;
  position: absolute;
  object-fit: cover;
}

.desktop .text-wrapper {
  position: absolute;
  top: 383px;
  left: 586px;
  width: 165px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.desktop .group {
  position: absolute;
  top: 383px;
  left: 226px;
  width: 921px;
  height: 72px;
}

.desktop .div {
  position: absolute;
  top: 418px;
  left: 595px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #228b22;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.desktop .p {
  position: absolute;
  top: 319px;
  left: 123px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.desktop .text-wrapper-2 {
  position: absolute;
  top: 399px;
  left: 280px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #228b22;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.desktop .img {
  position: absolute;
  top: 1px;
  left: 0;
  width: 1440px;
  height: 248px;
  object-fit: cover;
}

.desktop .text-wrapper-3 {
  position: absolute;
  top: 384px;
  left: 864px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.desktop .element {
  position: absolute;
  top: 423px;
  left: 927px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #228b22;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.desktop .text-on-a-path {
  position: absolute;
  top: 581px;
  left: 501px;
  width: 191px;
  height: 88px;
}

.desktop .image-2 {
  top: 512px;
  left: 438px;
  width: 522px;
  height: 348px;
  aspect-ratio: 1.5;
  position: absolute;
  object-fit: cover;
}

.desktop .rectangle-2 {
  position: absolute;
  top: 694px;
  left: 500px;
  width: 191px;
  height: 79px;
}

.desktop .rectangle-3 {
  position: absolute;
  top: 613px;
  left: 496px;
  width: 191px;
  height: 81px;
}

.desktop .batatas-black-leg {
  position: absolute;
  top: 618px;
  left: 508px;
  width: 161px;
  height: 20px;
}

.desktop .a-batata-picante-com {
  position: absolute;
  top: 638px;
  left: 499px;
  width: 193px;
  height: 137px;
}

.desktop .text-wrapper-4 {
  position: absolute;
  top: 939px;
  left: 644px;
  width: 163px;
  -webkit-text-stroke: 1px #947f7f;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .rectangle-4 {
  position: absolute;
  top: 1610px;
  left: 1181px;
  width: 213px;
  height: 203px;
  object-fit: cover;
}

.desktop .rectangle-5 {
  position: absolute;
  top: 1036px;
  left: 1181px;
  width: 213px;
  height: 203px;
  object-fit: cover;
}

.desktop .rectangle-6 {
  position: absolute;
  top: 1323px;
  left: 1181px;
  width: 213px;
  height: 203px;
  object-fit: cover;
}

.desktop .text-wrapper-5 {
  top: 1036px;
  left: 46px;
  position: absolute;
  font-family: "Instrument Serif-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 32px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .text-wrapper-6 {
  position: absolute;
  top: 1319px;
  left: 46px;
  font-family: "Instrument Serif-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 32px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .text-wrapper-7 {
  top: 1610px;
  left: 51px;
  position: absolute;
  font-family: "Instrument Serif-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 32px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .p-o-brioche-tostado {
  position: absolute;
  top: 1658px;
  left: 46px;
  width: 736px;
  font-family: "Inria Sans-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .text-wrapper-8 {
  position: absolute;
  top: 1085px;
  left: 46px;
  width: 750px;
  font-family: "Inria Sans-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .text-wrapper-9 {
  position: absolute;
  top: 1370px;
  left: 46px;
  font-family: "Inria Sans-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.desktop .text-wrapper-10 {
  position: absolute;
  top: 1502px;
  left: 51px;
  width: 127px;
  font-family: "Inria Sans-Regular", Helvetica;
  font-weight: 400;
  color: #228b22;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .text-wrapper-11 {
  position: absolute;
  top: 1209px;
  left: 46px;
  width: 132px;
  font-family: "Inria Sans-Regular", Helvetica;
  font-weight: 400;
  color: #228b22;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
}
